.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Plats div*/

.Plat {
  height: auto;
  width: 500px;
  background-color: #fff1f1;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.TittlePlat {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5%;
  background-color: #ffe1e1;
  border-radius: 50px;
}

.ImagePlat {
  height: auto;
  width: 400px;
  padding: 1%;
  background-color: #fff1f1;
}

.TimelePlat {
  font-size: 1rem;
  font-weight: bold;
  padding: 5%;
}

/*BarreDeRecherche*/
.BarreDeRecherche {
  width: 480px;
  height: 37px;
  padding: 6px 355px 6px 8px;
  border-radius: 14.5px;
  border: solid 1px #f4f4f4;
  background-color: #fafafa;
}

/*Navbarre*/
.Navbarre {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
}

.TextNav {
  width: 60px;
  height: 72px;
  top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #a07568;
  font-style: normal;
}

/*titlleHome*/
.tittleHome {
  width: 160px;
  height: 55px;
  left: 347px;
  top: 92px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #fb693c;
}

.containerHome {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: #282c34;
}
